{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="container-fluid d-flex align-items-center justify-content-center vh-100">
        <main role="main" class="text-center">
            <h1 class="cover-heading">How will you spend your money?</h1>
            <p class="lead">
                Build a better plan for spending and saving. Don't be reckless, Log all your data and track your spending's.
            </p>
            <p class="lead">
                <a href="#" class="btn btn-lg btn-secondary">Start now</a>
            </p>
        </main>
    </div>
{% endblock %}
